# ansible generated torrc

{% if tor_manage_apt_preferences %}
Package: *
Pin: release n={{ ansible_distribution_release }}
Pin-Priority: 900
{% endif %}

Package: obfs4proxy
Pin: release n={{ tor_obfs4proxy_release }}
Pin-Priority: {{ tor_apt_preferences_priority }}

Explanation: Ensure that packages are upgraded/installed from deb.torproject.org
Package: *
Pin: origin "deb.torproject.org"
Pin-Priority: {{ tor_apt_preferences_priority }}
