# {{ ansible_managed }}

{% if tor_instances is defined and item is defined %}
{% if tor_RunAsDaemon_configure %}
RunAsDaemon 1
{% endif %}
{% if tor_User_configure %}
{%   if tor_User is defined or item is defined and item.tor_User is defined %}
User {{ item.tor_User | default(tor_User) }}
{%   endif %}
{% endif %}
{% if tor_PidFile_configure %}
PidFile {{ tor_instance_parent_dir }}/{{ item.name }}/tor.pid
{% endif %}
{% if tor_Log_instances %}
Log {{ tor_Log }}
{% else %}
Log warn file {{ tor_instance_parent_dir }}/{{ item.name }}/log
{% endif %}
{%   if tor_DataDirectory_instances %}
DataDirectory {{ tor_instance_parent_dir }}/{{ item.name }}/data
{%   endif %}
{% else %}
DataDirectory {{ tor_DataDirectory }}
PidFile {{ tor_PidFile }}
{% if tor_RunAsDaemon_configure %}
RunAsDaemon {{ tor_RunAsDaemon }}
{% endif %}
Log {{ tor_Log }}
{% endif %}
{% if tor_Syslog is defined %}
Log {{ tor_Syslog }} syslog
{% endif %}

## General options (((
{% if tor_BandwidthRate is defined %}
BandwidthRate {{ tor_BandwidthRate }}
{% endif %}
{% if tor_BandwidthBurst is defined %}
BandwidthBurst {{ tor_BandwidthBurst }}
{% endif %}
{% if tor_MaxAdvertisedBandwidth is defined %}
MaxAdvertisedBandwidth {{ tor_MaxAdvertisedBandwidth }}
{% endif %}
{% if tor_RelayBandwidthRate is defined %}
RelayBandwidthRate {{ tor_RelayBandwidthRate }}
{% endif %}
{% if tor_RelayBandwidthBurst is defined %}
RelayBandwidthBurst {{ tor_RelayBandwidthBurst }}
{% endif %}
{% if tor_PerConnBWRate is defined %}
PerConnBWRate {{ tor_PerConnBWRate }}
{% endif %}
{% if tor_PerConnBWBurst is defined %}
PerConnBWBurst {{ tor_PerConnBWBurst }}
{% endif %}
{% if tor_ClientTransportPlugin is defined %}
ClientTransportPlugin {{ tor_ClientTransportPlugin }}
{% endif %}
{% if tor_ServerTransportPlugin is defined %}
ServerTransportPlugin {{ tor_ServerTransportPlugin }}
{% endif %}
{% if tor_ServerTransportListenAddr is defined %}
ServerTransportListenAddr {{ tor_ServerTransportListenAddr }}
{% endif %}
{% if tor_ServerTransportOptions is defined %}
ServerTransportOptions {{ tor_ServerTransportOptions }}
{% endif %}
{% if tor_ExtORPort is defined %}
ExtORPort {{ tor_ExtORPort }}
{% endif %}
{% if tor_ExtORPortCookieAuthFile is defined %}
ExtORPortCookieAuthFile {{ tor_ExtORPortCookieAuthFile }}
{% endif %}
{% if tor_ExtORPortCookieAuthFileGroupReadable is defined %}
ExtORPortCookieAuthFileGroupReadable {{ tor_ExtORPortCookieAuthFileGroupReadable }}
{% endif %}
{% if tor_ConnLimit is defined %}
ConnLimit {{ tor_ConnLimit }}
{% endif %}
{% if tor_DisableNetwork is defined %}
DisableNetwork {{ tor_DisableNetwork }}
{% endif %}
{% if tor_ConstrainedSockets is defined %}
ConstrainedSockets {{ tor_ConstrainedSockets }}
{% endif %}
{% if tor_ConstrainedSockSize is defined %}
ConstrainedSockSize {{ tor_ConstrainedSockSize }}
{% endif %}
{% if tor_ControlPort is defined %}
ControlPort {{ tor_ControlPort }}
{% endif %}
{% if tor_ControlListenAddress is defined %}
ControlListenAddress {{ tor_ControlListenAddress }}
{% endif %}
{% if tor_ControlSocket is defined %}
ControlSocket {{ tor_ControlSocket }}
{% endif %}
{% if tor_ControlSocketsGroupWritable is defined %}
ControlSocketsGroupWritable {{ tor_ControlSocketsGroupWritable }}
{% endif %}
{% if tor_HashedControlPassword is defined %}
HashedControlPassword {{ tor_HashedControlPassword }}
{% endif %}
{% if tor_CookieAuthentication is defined %}
CookieAuthentication {{ tor_CookieAuthentication }}
{% endif %}
{% if tor_CookieAuthFile is defined %}
CookieAuthFile {{ tor_CookieAuthFile }}
{% endif %}
{% if tor_CookieAuthFileGroupReadable is defined %}
CookieAuthFileGroupReadable {{ tor_CookieAuthFileGroupReadable }}
{% endif %}
{% if tor_ControlPortWriteToFile is defined %}
ControlPortWriteToFile {{ tor_ControlPortWriteToFile }}
{% endif %}
{% if tor_ControlPortFileGroupReadable is defined %}
ControlPortFileGroupReadable {{ tor_ControlPortFileGroupReadable }}
{% endif %}
{% if tor_DirAuthorityFallbackRate is defined %}
DirAuthorityFallbackRate {{ tor_DirAuthorityFallbackRate }}
{% endif %}
{% if tor_DynamicDHGroups is defined %}
DynamicDHGroups {{ '1' if tor_DynamicDHGroups else '0' }}
{% endif %}
{% if tor_DisableAllSwap is defined %}
DisableAllSwap {{ tor_DisableAllSwap }}
{% endif %}
{% if tor_HTTPProxy is defined %}
HTTPProxy {{ tor_HTTPProxy }}
{% endif %}
{% if tor_HTTPProxyAuthenticator is defined %}
HTTPProxyAuthenticator {{ tor_HTTPProxyAuthenticator }}
{% endif %}
{% if tor_HTTPSProxy is defined %}
HTTPSProxy {{ tor_HTTPSProxy }}
{% endif %}
{% if tor_HTTPSProxyAuthenticator is defined %}
HTTPSProxyAuthenticator {{ tor_HTTPSProxyAuthenticator }}
{% endif %}
{% if tor_ProtocolWarnings is defined %}
ProtocolWarnings {{ tor_ProtocolWarnings }}
{% endif %}
{% if tor_HardwareAccel is defined %}
HardwareAccel {{ '1' if tor_HardwareAccel else '0' }}
{% endif %}
{% if tor_AccelName is string %}
AccelName {{ tor_AccelName }}
{% endif %}
{% if tor_AvoidDiskWrites is defined %}
AvoidDiskWrites {{ '1' if tor_AvoidDiskWrites else '0' }}
{% endif %}
{% if tor_SafeLogging is defined %}
SafeLogging {{ tor_SafeLogging }}
{% endif %}
## )))

## Client Options (((
{% if tor_AllowInvalidNodes is defined %}
AllowInvalidNodes {{ tor_AllowInvalidNodes }}
{% endif %}
{% if tor_Bridge is string %}
Bridge {{ tor_Bridge }}
{% endif %}
{% if tor_UseBridges is defined %}
UseBridges {{ '1' if tor_UseBridges else '0' }}
{% endif %}
{% if tor_HidServAuth is string %}
HidServAuth {{ tor_HidServAuth }}
{% endif %}
{% if tor_SocksPort is defined %}
SocksPort {{ tor_SocksPort }}
{% endif %}
{% if tor_SocksListenAddress is defined %}
SocksListenAddress {{ tor_SocksListenAddress }}
{% endif %}
{% if tor_SocksPolicy is defined %}
SocksPolicy {{ tor_SocksPolicy }}
{% endif %}
{% if tor_ReachableAddresses is defined %}
ReachableAddresses {{ tor_ReachableAddresses }}
{% endif %}
## )))

## Server options (((
{% if tor_Address is string %}
Address {{ tor_Address }}
{% endif %}
{% if tor_BridgeRelay is defined %}
BridgeRelay {{ '1' if tor_BridgeRelay else '0' }}
{% endif %}
{% if tor_ContactInfo is string and not (item is defined and item.tor_ContactInfo is defined and item.tor_ContactInfo == False) %}
ContactInfo {{ tor_ContactInfo }}
{% endif %}
{% if tor_ExitRelay is defined %}
ExitRelay {{ '1' if tor_ExitRelay else '0' }}
{% endif %}
{% if tor_ExitPolicy is string %}
ExitPolicy {{ tor_ExitPolicy }}
{% endif %}
{% if tor_MyFamily is defined and tor_MyFamily is iterable and not (item is defined and item.tor_MyFamily is defined and item.tor_MyFamily == False) %}
MyFamily {{ item.tor_MyFamily | default(tor_MyFamily) | join(',') }}
{% endif %}
{% if tor_Nickname is defined or item is defined and item.tor_Nickname is defined %}
Nickname {{ item.tor_Nickname | default(tor_Nickname) }}
{% endif %}
{% if tor_ORPort is defined or item is defined and item.tor_ORPort is defined %}
ORPort {{ item.tor_ORPort | default(tor_ORPort) }}
{% endif %}
{% if tor_ORListenAddress is defined or item is defined and item.tor_ORListenAddress is defined %}
ORListenAddress {{ item.tor_ORListenAddress | default(tor_ORListenAddress) }}
{% endif %}
{% if tor_PublishServerDescriptor is defined or item is defined and item.tor_PublishServerDescriptor is defined %}
PublishServerDescriptor {{ item.tor_PublishServerDescriptor | default(tor_PublishServerDescriptor) }}
{% endif %}
{% if tor_GeoIPFile is defined %}
GeoIPFile {{ tor_GeoIPFile }}
{% endif %}
{% if tor_GeoIPv6File is defined %}
GeoIPv6File {{ tor_GeoIPv6File }}
{% endif %}
{% if tor_CellStatistics is defined %}
CellStatistics {{ '1' if tor_CellStatistics else '0' }}
{% endif %}
{% if tor_DirReqStatistics is defined %}
DirReqStatistics {{ '1' if tor_DirReqStatistics else '0' }}
{% endif %}
{% if tor_EntryStatistics is defined %}
EntryStatistics {{ '1' if tor_EntryStatistics else '0' }}
{% endif %}
{% if tor_ExitPortStatistics is defined %}
ExitPortStatistics {{ '1' if tor_ExitPortStatistics else '0' }}
{% endif %}
{% if tor_ConnDirectionStatistics is defined %}
ConnDirectionStatistics {{ '1' if tor_ConnDirectionStatistics else '0' }}
{% endif %}
{% if tor_HiddenServiceStatistics is defined %}
HiddenServiceStatistics {{ '1' if tor_HiddenServiceStatistics else '0' }}
{% endif %}
{% if tor_ExtraInfoStatistics is defined %}
ExtraInfoStatistics {{ '1' if tor_ExtraInfoStatistics else '0' }}
{% endif %}
## )))

## Directory Server options (((
{% if tor_DirPort is defined or item is defined and item.tor_DirPort is defined %}
DirPort {{ item.tor_DirPort | default(tor_DirPort) }}
{% endif %}
{% if tor_DirListenAddress is defined or item is defined and item.tor_DirListenAddress is defined %}
DirListenAddress {{ item.tor_DirListenAddress | default(tor_DirListenAddress) }}
{% endif %}
## )))

## Hidden Service options (((
{% macro write_hidden_services(hidden_services) %}
{%   for service in hidden_services %}
HiddenServiceDir {{ tor_hidden_services_parent_dir }}/{{ service.dir }}
{%     for hidden_port in service.ports %}
HiddenServicePort {{ hidden_port.virtport }} {{ hidden_port.target }}
{%     endfor %}
{%     if "HiddenServiceAuthorizeClients" in service %}
HiddenServiceAuthorizeClient stealth {{ service.HiddenServiceAuthorizeClients | join(',') }}
{%     endif %}

{%   endfor %}
{% endmacro %}
{% if tor_hidden_services is defined %}
{{ write_hidden_services(tor_hidden_services) }}
{% elif tor_instances is defined and item is defined and item.tor_hidden_services is defined %}
{{ write_hidden_services(item.tor_hidden_services) }}
{% endif %}
## )))

# end of torrc
# vim: set foldmarker=(((,))):
